body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top-container,
.information,
.quote-container,
.sign-up-container,
footer {
  display: flex;
  justify-content: center;
}

.top-container,
footer {
  background-color: #1f2937;
}

.content {
  width: 900px;
}

header,
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  margin: 0;
  padding:0;
  gap: 16px;
}

.container {
  display: flex;
  margin: 100px 0;
  justify-content: space-between; 
}

.title,
.logo {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.links,
.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.subtext {
  margin: 0;
}

.text {
  max-width: 400px;
}

.sign-button {
  margin-top: 8px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  padding: 8px 32px;
  background-color: #3882f6;
  border-radius: 8px;
}

.information {
  text-align: center;
}

.info-title {
  font-size: 32px;
  font-weight: 800;
  color: #1f2937;
}

.info-container {
  justify-content: center;
  gap: 64px;
  margin: 50px 0;
}

.info-img {
  border: 5px solid #3882f6;
  border-radius: 16px;
}

.information {
  margin-top: 24px;
}

.info {
  max-width: 150px;
}

.img-subtext {
  color: #505865;
}

.quote-container {
  padding: 100px 0;
  background-color: #e5e7eb;
}

.quote-content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  padding-left: 64px;
}

.author {
  margin-left: auto;
}

.sign-up-form {
  background-color:#3882f6 ;
  padding: 32px 84px;
  margin: 64px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.sign-up-button {
  border: 2px solid white;
}

footer {
  font-size: 12px;
  color: white;
  padding: 32px 0;
}